@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root{
    /* ||| Les couleurs ||| */
    --violet:#8C95F8;
    --bleu-ciel:#8DD0FD;
    --ecriture:#5F5858;
    --bulle-1:#6E7AE6;
    --bulle-2:#525CCB;
    --sommaire:#F6F0FF;
    --rouge:#F65555;
    --gradientMovoo: linear-gradient(180deg, rgba(221,241,255,1) 0%, rgba(239,213,245,1) 100%);
    --reverse-gradientMovoo: linear-gradient(0deg, rgba(221,241,255,1) 0%, rgba(239,213,245,1) 100%);

    --padding-bouton: 16px;

    /* ||| Border radius ||| */
    --radius8:8px;
    --radius16:16px;
    --radius32:32px;
    --cercle:50%;
    }
/* =================================================
                    RESET CSS
================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
nav li{
    list-style: none;
}


/* =================================================
                    COULEURS
================================================= */

.colorViolet{
    color: var(--violet);
}




/* =================================================
                    BORDER RADIUS
================================================= */

.borderRadius8 {
    border-radius: var(--radius8);
}
.borderRadius16 {
    border-radius: var(--radius16);
}
.borderRadius32 {
    border-radius: var(--radius32);
}


/* =================================================
                    PADDING
                    MARGIN
================================================= */
.padding10{
    padding: 10px;
}

.Padding16-32{
    padding: 16px 32px;
}

.paddingleft30{
    padding-left: 30px;
}


.marginBottom16{
    margin-bottom: 16px;
}
.marginBottom32{
    margin-bottom: 32px;
}
.marginBottom48{
    margin-bottom: 48px;
}
.marginBottom64{
    margin-bottom: 64px;
}
.marginBottom70{
    margin-bottom: 70px;
}
.marginBottom70{
    margin-bottom: 70px;
}
.marginTop48 {
    margin-top: 48px;
}
.marginLeft100{
    margin-left: 100px;
    
}




/* =================================================
                    DIMENSIONS
================================================= */
.width100Pourcent{
    width: 100%;
}
.width95Pourcent{
    width: 95%;
}
.width90Pourcent{
    width: 90%;
}
.width85Pourcent{
    width: 85%;
}
.width80Pourcent{
    width: 80%;
}
.width75Pourcent{
    width: 75%;
}
.width70Pourcent{
    width: 70%;
}
.width65Pourcent{
    width: 65%;
}
.width60Pourcent{
    width: 60%;
}
.width50Pourcent{
    width: 50%;
}
.width45Pourcent{
    width: 45%;
}
.width40Pourcent{
    width: 40%;
}
.width35Pourcent{
    width: 35%;
}
.width30Pourcent{
    width: 30%;
}
.width25Pourcent{
    width: 25%
}
.width20Pourcent{
    width: 20%;
}
.width15Pourcent{
    width: 15%;
}
.width10Pourcent{
    width: 10%;
}

.minSVGsize{
    min-width: 100px;
    min-height: 100px;
}




/* =================================================
                    ESPACEMENT
================================================= */
.gap32{
    gap: 32px;
}
.gap64{
    gap: 64px;
}
.gap72{
    gap: 72px;
}
.gap84{
    gap: 84px;
}
.gap96{
    gap: 96px;
}
.gap128{
    gap: 128px;
}




/* =================================================
                    TEXTE
================================================= */
h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--ecriture);
}
h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--ecriture);
}
h3{
    font-size: 36px;
    font-weight: 600;
    color: var(--ecriture);
    text-align: center;
}
h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--ecriture);
}
header {
    color: var(--ecriture);
    position: fixed;
    z-index: 20;
    background-color: white;
    background-color: var(--sommaire);
}
.colorWhite{
    color: white;
}
.textAlignCenter{
    text-align: center;
}

.bold {
    font-weight: 400;
}

.grayFont {
    color: #5F5858;
}
.tdu{
    text-decoration: underline;
    color: var(--ecriture);
}

/* =================================================
                    HERO
================================================= */
nav li a {
    color: var(--ecriture);
}
.hero{
    min-height: 100vh;
}
span img{
    height: 28px;
}
.positionHero{
    top: 10%;
}
.qrCode{
    margin-top: 32px;
    /* background-color: white; */
    width: 122px;
    height: 122px;
}
.qrCode img{
    width: 122px;
    height: 122px;
}
.shothero {
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 5%;
}
.shothero img{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}




/* =================================================
                    AVANTAGES
================================================= */
.card{
    width: 30%;
    background-color: var(--violet);
    border-radius: var(--radius32);
    display: flex;
    flex-direction: column;
    /* gap: 56px; */
    padding: 24px;
    color: white;
    align-items: self-start;
    min-height: 320px;
}
.card h4 {
    color: white;
}
.card div {
    align-self: flex-start;
}
.configAbsolute{
    transform: translate(-7%,125%);
}

/* =================================================
                    POURQUOI MOVOO
================================================= */
.cardPourquoi{
    width: 30%;
    background-color: var(--violet);
    border-radius: var(--radius32);
    display: flex;
    flex-direction: column;
    padding: 36px;
    color: white;
    p{
        font-size: 24px;
    }
    h3{
        color: white;
        margin-bottom: 24px;
    }
    div{
        align-self: flex-start;
    }
}



/* =================================================
                    COMMENT ?
================================================= */
.positionBulle{
    position: absolute;
    transform: translate(5%,-300%);
    z-index: 10;
}
.split img{
    width: 100%;
}

.backGroundGradient{
background: var(--gradientMovoo);
}
.backGroundGradientReverse{
    background: var(--reverse-gradientMovoo);
}
.backGroundWhite{
    background-color: white;
}
.backGroundBlue{
    background: rgb(221,241,255);
    background: linear-gradient(0deg, rgba(221,241,255,1) 0%, rgba(234,246,255,1) 46%, rgba(221,241,255,1) 100%);
}

.sectionComment{
    background-image:url("./assets_docu/bg.png");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

.bulle{
    background-color: var(--violet);
    padding: 32px;
    transform: translate(20%,10%);
    border-radius: 32px ;
    color: #fff;
    max-width: 600px;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        fill: white;
        max-width: 64px;
        max-height: 64px;
        padding-bottom: 16px;
    }
    h4{
        color: white;
        text-align: center;
        padding-bottom: 16px;
    }

}

.bulle-gauche{
    margin-left: -64px;
    border-radius: 32px 32px 32px 0;

}
.bulle-gauche::after{
    content:'';
    width: 32px;
    height: 32px;
    border-radius: 0 0 32px 0;
    position: absolute;
    top:90%;
    left: -8px;
    background-color: var(--violet);
    z-index: 1;
    transform: rotate(30deg);
}
.bulle-droite{
    margin-right: 64px;
    border-radius: 32px 32px 0px 32px;
    /* transform: translate(-13%,-50%); */
}
.bulle-droite::after{
    content:'';
    width: 32px;
    height: 32px;
    border-radius: 0 0 0 32px;
    position: absolute;
    top:90%;
    right: -8px;
    background-color: var(--violet);
    z-index: 1;
    transform: rotate(-26deg);
}

/* =================================================
                    TEMOIGNAGES
================================================= */
.cardTemoignage{
    width: 30%;
    background-color: var(--violet);
    border-radius: var(--radius32);
    display: flex;
    flex-direction: column;
    /* gap: 56px; */
    padding: 24px;
    color: white;
    align-items: self-startn;
    min-height: 220px;
    
    h4{
        color: white;
    }
    img{
        width: 70px;
        margin-top: -120px;
    }
    span {
        font-size: 14px;
        font-weight: 300;
    }
}
.displayBlock{
    display: block;
}
iframe {
    width: 100%;
    box-shadow: 0px -2px 32px rgb(186, 174, 174);
}
.fitcontent{
    width: fit-content;
}

/* =================================================
                    FOOTER
================================================= */
.backGroundViolet{
    background-color: var(--violet);
}
.ligneBlanche{
    height: 1px;
    width: 25%;
    background-color: white;
}
.footerGap32{
    gap: 32px;
}
.footerGap16{
    gap: 16px;
}
.footerHeight{
    height: 200px;
}




/* =================================================
                    TRUCS
================================================= */
.container {
    /* max-width: 1000px; */
    width: 80%;
    margin: auto;
}
.btnMovoo{
    padding:8px 16px;
    border-radius: 40px;
    background-color: var(--violet);
    color: white;
}
.btnMovoo:hover{
    padding:8px 16px;
    border-radius: 40px;
    background-color:white;
    color: var(--violet);
}
a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.imgBoutonStore{
    width: 11em;
}





/* =================================================
                    POSITIONNEMENT
================================================= */
.positionRelative{
    position: relative;
}
.positionAbsolute{
    position: absolute;
    z-index: 1;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;
}
.spaceAround{
    justify-content: space-around;
}
.alignItemCenter{
    align-items: center;
}
.justifyContentRight{
    justify-content: right;
}
.justifyContentCenter{
    justify-content: center;
}
.justifyContentLeft{
    justify-content: left;
}
.marginAuto{
    margin: auto;
}















/* =================================================
                    DOCUMENTATION
================================================= */


.bodyDocu {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.6;
    background-image:url("./assets_docu/bg.png");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}


.bgPurple {
    background-color: #F6F0FF;
}

.sommaire {
    background: var(--sommaire);
    box-shadow: 1px 4px 4px 2px rgb(192, 197, 201) ;
    position: sticky;
    top: 10%;
    padding: 16px;
   border-radius: var(--radius16);
}



nav ul li a{
    color: var(--ecriture);
}
nav ul li{
    margin: 8px;
    list-style-type: none;
}

nav ul li:hover{
    transition: 0.1s;
    outline: solid 2px var(--ecriture);
    padding: 2px 2px 2px 10px;
    background-color: var(--violet);
        a{
            color: white;
        }
    border-radius: var(--radius16);
}
aside{
    margin-left: 6px;
}
.navContainer {
    color: var(--ecriture);
    padding: 20px;
}

/* SECTION HEADER*/

.colorHeader {
    color: var(--ecriture);
}

.colorText {
    color: var(--ecriture);
}

/* SECTION HERO*/
.telhero {
    position: absolute;
    width: 70%;
    bottom: 0%;
    right: 5%;
}
.telhero img{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}




.contentContainer {
    padding: 20px 60px;
}

.paddingSection {
    padding: 70px 0 ;
}

.chiffresItem{
    width: 30%;
    padding: 26px 0;
}
.chiffreCles {
    font-size: 3rem;
    text-align: center;
}
.chffreLabeur {
    font-size: 0.9rem;
}

.problematiqueFont {
    font-size: 1.5rem;
    font-weight: 500;
}

.imgEtape img {
    object-fit: contain;
}




/* SECTION Pourquoi cette idée */
.imgidée {
 object-fit: cover;
}
/* SECTION À qui est destiné notre application ? */
.sizePdf{
    width: 32px;
    height: 32px;
}
/* SECTION Problématique */
/* SECTION Etape de conception */
/* SECTION Retour de tests utilistauers */
/* SECTION MAJ */