@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root{
    /* ||| Les couleurs ||| */
    --violet:#8C95F8;
    --bleu-ciel:#8DD0FD;
    --ecriture:#5F5858;
    --bulle-1:#6E7AE6;
    --bulle-2:#525CCB;
    --rouge:#F65555;
    /* --gradientMovoo:background: rgb(221,241,255);
    background: linear-gradient(180deg, rgba(221,241,255,1) 0%, rgba(239,213,245,1) 100%);
    --reverse-gradientMovoo:rgb(221,241,255);
    background: linear-gradient(0deg, rgba(221,241,255,1) 0%, rgba(239,213,245,1) 100%); */

    --padding-bouton: 16px;

    /* ||| Border radius ||| */
    --radius8:8px;
    --radius16:16px;
    --radius32:32px;
    --cercle:50%;
    }
/* =================================================
                    RESET CSS
================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* =================================================
                    PADDING
                    MARGIN
================================================= */
.Padding16-32{
    padding: 16px 32px;
}
.marginBottom16{
    margin-bottom: 16px;
}
.marginBottom32{
    margin-bottom: 32px;
}
.marginBottom48{
    margin-bottom: 48px;
}
.marginBottom64{
    margin-bottom: 64px;
}
/* =================================================
                    DIMENSIONS
================================================= */
.width100Pourcent{
    width: 100%;
}
.width95Pourcent{
    width: 95%;
}
.width90Pourcent{
    width: 90%;
}
.width85Pourcent{
    width: 85%;
}
.width80Pourcent{
    width: 80%;
}
.width75Pourcent{
    width: 75%;
}
.width70Pourcent{
    width: 70%;
}
.width65Pourcent{
    width: 65%;
}
.width60Pourcent{
    width: 60%;
}
.width50Pourcent{
    width: 50%;
}
.width45Pourcent{
    width: 45%;
}
.width40Pourcent{
    width: 40%;
}
.width35Pourcent{
    width: 35%;
}
.width30Pourcent{
    width: 30%;
}
.width20Pourcent{
    width: 20%;
}
.width15Pourcent{
    width: 15%;
}
.width10Pourcent{
    width: 10%;
}
.minSVGsize{
    min-width: 100px;
    min-height: 100px;
}


/* =================================================
                    ESPACEMENT
================================================= */
.gap32{
    gap: 32px;
}
.gap64{
    gap: 64px;
}
.gap72{
    gap: 72px;
}
.gap84{
    gap: 84px;
}
.gap96{
    gap: 96px;
}
.gap128{
    gap: 128px;
}


/* =================================================
                    TEXTE
================================================= */
h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--ecriture);
}
h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--ecriture);
}
h3{
    font-size: 36px;
    font-weight: 600;
    color: var(--ecriture);
    text-align: center;
}
h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--ecriture);
}
.colorWhite{
    color: white;
}
.textAlignCenter{
    text-align: center;
}






/* =================================================
                    HERO
================================================= */
.hero{
    min-height: 100vh;
}
span img{
    height: 28px;
}
.positionHero{
    top: 10%;
}
.qrCode{
    margin-top: 32px;
    background-color: white;
    width: 122px;
    height: 122px;
}
.qrCode img{
    width: 122px;
    height: 122px;
}
.shothero {
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 5%;
}
.shothero img{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* =================================================
                    AVANTAGES
================================================= */
.card{
    width: 30%;
    background-color: var(--violet);
    border-radius: var(--radius32);
    display: flex;
    flex-direction: column;
    /* gap: 56px; */
    padding: 24px;
    color: white;
    align-items: self-start;
    min-height: 320px;
}
.card h4 {
    color: white;
}
.card div {
    align-self: flex-start;
}
.configAbsolute{
    transform: translate(-7%,125%);
}

/* =================================================
                    COMMENT ?
================================================= */
.positionBulle{
    position: absolute;
    transform: translate(5%,-300%);
    z-index: 10;
}
.split img{
    width: 100%;
}

.backGroundGradient{
    background: rgb(221,241,255);
    background: linear-gradient(180deg, rgba(221,241,255,1) 0%, rgba(239,213,245,1) 95%);
}
.backGroundGradientReverse{
    background: rgb(221,241,255);
    background: linear-gradient(0deg, rgba(221,241,255,1) 0%, rgba(239,213,245,1) 95%);
}
.backGroundWhite{
    background-color: white;
}








/* =================================================
                    FOOTER
================================================= */
.backGroundViolet{
    background-color: var(--violet);
}
.ligneBlanche{
    height: 1px;
    width: 25%;
    background-color: white;
}
.footerGap32{
    gap: 32px;
}
.footerGap16{
    gap: 16px;
}
.footerHeight{
    height: 200px;
}







/* =================================================
                    TRUCS
================================================= */
.container {
    /* max-width: 1000px; */
    width: 80%;
    margin: auto;
}
.btnMovoo{
    padding:8px 16px;
    border-radius: 40px;
    background-color: var(--violet);
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.imgBoutonStore{
    width: 11em;
}








/* =================================================
                    POSITIONNEMENT
================================================= */
.positionRelative{
    position: relative;
}
.positionAbsolute{
    position: absolute;
    z-index: 1;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;
}
.spaceAround{
    justify-content: space-around;
}
.alignItemCenter{
    align-items: center;
}
.justifyContentRight{
    justify-content: right;
}
.justifyContentCenter{
    justify-content: center;
}
.justifyContentLeft{
    justify-content: left;
}
.marginAuto{
    margin: auto;
}